<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hospital Regional de Occidente {% endblock %}</title>

      {% block stylesheets %}{% endblock %}
    
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"  media="all" />
        <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/responsiveslides.css') }} ">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }} ">
        <link rel="stylesheet" href="{{ asset('css/minimalMenu.css')}}">
        <link rel="stylesheet" href="{{ asset('css/tables.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2.min.css')}}">
         <link rel="stylesheet" href="{{ asset('css/select2-bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/tabs.css')}}">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
      
       

   
      
        <script>
            // You can also use "$(window).load(function() {"
                $(function () {
            
                  // Slideshow 1
                  $("#slider1").responsiveSlides({
                    maxwidth: 1600,
                    speed: 600
                  });
            });
        </script>
        

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'menu/menu.html.twig' %}
        {# sub menu para entrar a los sitios administrativos#}
        {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
            {% include 'menu/minimal.html.twig' %}
        {% endif %} 
            
       
         
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
        {% block body %}{% endblock %}

        <!---start-footer---->
        <footer class="footer">
            <div class="wrap">
                <div class="footer-grids">
                    <div class="footer-grid">
                        <h3>Dirección</h3>
                         <p>0 calle 36-40 zona 8, Quetzaltenango, Quetzaltenango.</p>
                    </div>
                    <div class="footer-grid">
                        <h3></h3>
                        
                    </div>
                    <div class="footer-grid">
                        <h3></h3>
                       
                    </div>
                    <div class="footer-grid">
                       <h3>Teléfono</h3>
                        <span>7763-5154</span>
                        <br>
                        <span>7763-5340</span>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <!---start-copy-right---->
                <div class="copy-tight">
                    <p style="font-size:50%;">Design by W3layouts</a></p>

                </div>
                <!---End-copy-right-->
            </div>
        </footer>
        <!---End-footer---->

       
        
        <script src="{{ asset('js/responsiveslides.min.js') }}"></script>
        <script src="{{ asset('js/minimalMenu.js')}}"></script>
        <script src="{{ asset('js/jquery-1.11.3.min.js')}}"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script> 
        <script src="{{ asset('js/select2.min.js')}}"></script> 
         <script src="{{ asset('js/tabs.js')}}"></script> 
          <script src="{{ asset('js/helper.js')}}"></script> 
         <script src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
     
     
        <script>
            $('table').dataTable();
        </script>
       
        {% block javascripts %}{% endblock %}
        {#
        <script>
        $('#consulta_type_consulta_dpi_nombre_apellidos').select2({
            tags: "true"
        });
        </script>
        #}
    </body>
</html>
