{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/bc-bootstrap-collection.js')}}"></script>
    <script type="text/javascript">
            $('select').select2({
        theme: "bootstrap"
    });
    </script>
    {{ form_javascript(form) }}
{% endblock %}

{% block body -%}
    {{form_start(form)}}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Consulta de pacientes</h1>
            {{form_row(form.consulta_dpi_nombre_apellidos)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {{form_row(form.consulta_edad)}}
        </div>
        <div class="col-md-5">
            {{form_row(form.consulta_sexo)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {{form_row(form.consulta_diagnostico)}}
            {{form_row(form.consulta_procedimiento_realizado)}}
            {{form_row(form.consulta_clasificacion_ao)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {{form_row(form.consulta_fecha_inicio_ingreso)}}
        </div>
        <div class="col-md-5">
            {{form_row(form.consulta_fecha_fin_ingreso)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {{form_row(form.consultar)}}
            {{form_end(form)}}

    {% if pacientes is not null %}
        {% if pacientes|length != 0 %}
                <table class="table table-condensed  table-striped">
                    <tr>
                        <th>Nombre paciente</th>
                        <th>Edad</th>
                        <th>DPI</th>
                        <th>Teléfono</th>
                        <th>Género</th>
                        <th>Información</th>
                        
                    </tr>
                    {% for paciente in pacientes %}
                    <tr>
                        <td><a href="{{path('paciente_show',{'slug':paciente.slug})}}">{{ paciente.nombre }} {{paciente.apellidos}}</a></td>
                        <td>{{ paciente.edad }}</td>
                        <td>{{ paciente.dpi }}</td>
                        <td>{{ paciente.telefono }}</td>
                        <td>{{ paciente.genero }}</td>
                        <td>
                            <a class ="btn btn-xs btn-warning" href="{{ path('paciente_show', { 'slug': paciente.slug }) }}">Mostrar más</a>
                        </td>
                    </tr>
                   
                    {% endfor %}
                </table>
                {% else %}
                <div class="alert alert-danger">
                  <strong>Advertencia!</strong> No se han encontrado resultados.
                </div>
            {% endif %}
    {% endif %}
        </div>
    </div>

{% endblock %}
