{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
         <div class="col-md-1"></div>
        <div class="col-md-10">
    <h1>Listado completo de pacientes</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>DPI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.dpi }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.genero }}</td>
                <td>
                <ul>
                    <li>
                        <a class ="btn btn-xs btn-warning" href="{{ path('paciente_show', { 'slug': entity.slug }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a class="btn btn-xs btn-danger" href="{{ path('paciente_edit', { 'slug': entity.slug }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class = "btn btn-primary" href="{{ path('paciente_new') }}">
                Ingresar Nuevo Paciente
            </a>
        </li>
    </ul>
</div>
 <div class="col-md-1"></div>
</div>
    {% endblock %}
