{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Paciente</h1>
        <table class="table table-striped table-hover">
            <tbody>
                {% if entity.dpi is not null %}
                <tr>
                    <th>DPI</th>
                    <td>{{ entity.dpi }}</td>
                </tr>
               {% endif %}
                <tr>
                    <th>Número de Expediente</th>
                    <td>{{ entity.expediente}} </th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{ entity.apellidos }}</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>{{ entity.telefono }}</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>{{ entity.direccion }}</td>
                </tr>
                <tr>
                    <th>Edad</th>
                    <td>{{ entity.edad }}</td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td>{{ entity.genero }}</td>
                </tr>
                <tr>
                    <th>Ingresado por</th>
                    <td>{{ entity.usuario}}</td>
                </tr>
                <tr>
                    <th>Creado</th>
                    <td>{{ entity.created|date('d-m-Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Actualizado</th>
                    <td>{{ entity.updated|date('d-m-Y H:i:s') }}</td>
                </tr>
                {% for ingreso in entity.ingreso %}
                <tr>
                    <th>Ingreso al hospital</th>
                        <td><a href="{{path('ingresopaciente_show',{'slug':ingreso.slug})}}">{{ingreso}}</a></td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <ul class="record_actions">
            <li>
                <a class="btn btn-default" href="{{ path('paciente') }}">
                Regresar
                </a>
            </li>
            <li>
                <a class = "btn btn-warning" href="{{ path('paciente_edit', { 'slug': entity.slug }) }}">
                Editar
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
