 <!---start-header---->
            <div class="header">
                    <div class="main-header">
                        <div class="wrap">
                            <div class="logo">
                                <a href="{{ path('homepage')}}"><img src="{{ asset('images/logo.png')}}" title="logo" /></a>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a class="btn btn-primary" href="{{ path('fos_user_security_login')}}">Iniciar Sesión</a></li>
                                   <li><a class="btn btn-primary" href="{{ path('fos_user_registration_register')}} ">Crear Cuenta</a></li>
                                  
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <div class="top-nav">
                        <div class="wrap">
                            <ul>
                                <li class="active"><a href="{{ path('homepage')}}">Inicio</a></li>
                                <li><a href="">Ingresar datos paciente</a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}">Cuenta</a></li>
                                <li><a href="{{ path('contact')}} ">Contacto</a></li>

                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
            </div>
