{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="{{asset('js/bc-bootstrap-collection.js')}}"></script>
<script src="{{asset('js/jquery.initialize.js')}}"></script>
<script type="text/javascript">
(function(){
        $("select").initialize( function(){
     $(this).select2({
    theme: "bootstrap"
}); 

});
       
          
})();
</script>
<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>
<script>

{% endblock %}
{% block body -%}
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
    <h1>IngresoPaciente edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a class="btn btn-default"href="{{ path('ingresopaciente') }}">
            Regresar
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
	</div>
 	<div class="col-md-1"></div>
	</div>
{% endblock %}
