k{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <h1>IngresoPaciente list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha de Ingreso</th>
                <th>Paciente</th>
                <th>Motivo Ingreso</th>
                <th>Procedimiento Realizado</th>
                <th>Fecha de Salida</th>
                <th>Ingresado por</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{ path('paciente_show', { 'slug': entity.paciente.slug }) }}">{{entity.paciente}}</a></td>
                <td>{{ entity.motivoIngreso }}</td>
                <td>{{ entity.procedimientoRealizado }}</td>
                <td>{% if entity.fechaSalida %}{{ entity.fechaSalida|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.usuario }}</td>
                <td>
                <ul>
                    <li>
                        <a class ="btn btn-xs btn-warning" href="{{ path('ingresopaciente_show', { 'slug': entity.slug }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a class = "btn btn-xs btn-danger" href="{{ path('ingresopaciente_edit', { 'slug': entity.slug }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ingresopaciente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
        </div>
    <div class="col-md-1"></div>
    </div>
    {% endblock %}
