{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
  {{ form_javascript(form) }}
 <script src="{{asset('js/jquery.collection.js')}}"></script>
<script>
var $addTagLink = $('<a href="#" class="btn btn-primary">Agregar un diagnóstico</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
   var $collectionHolder = $('ul.select2');
    
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);
    
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    
    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        
        // add a new tag form (see code block below)
        addTagForm($collectionHolder, $newLinkLi);
    });
    
    
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    
    // get the new index
    var index = $collectionHolder.data('index');
    
    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
    
    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);
    
    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    
    // also add a remove button, just for this example
      
    
    $newFormLi.append('<a href="#" class="btn btn-danger remove-tag">Quitar</a>');
    $newFormLi.append('<br>');
    $newLinkLi.before($newFormLi);
     $newFormLi.append('<br>');
    
    
    // handle the removal, just for this example
    $('.remove-tag').click(function(e) {
        e.preventDefault();
        
        $(this).parent().remove();
        
        return false;
    });
}
</script>
<script>
 $('.my-selector').collection({
        prototype_name: '{{ form.arrayDiagnosticos.vars.prototype.vars.name }}',
        enable_add: false,
        enable_delete: false,
        name_prefix:  '{{ form.arrayDiagnosticos.vars.full_name }}'
    });
</script>
 <script type="text/javascript">
        $('select').select2({
    theme: "bootstrap"
});
</script>

{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Ingresar datos clínicos del paciente</h1>
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
                
                {{form_start(form)}}
             
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-6">
                                    {{form_row(form.fechaIngreso)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{form_row(form.paciente)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{form_row(form.motivoIngreso)}}
                                </div>
                                <div class="col-md-6">
                                    {{form_row(form.procedimientoRealizado)}}
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                            <li><a class="btn btn-success" href="{{path('paciente_new')}}">No aparece el paciente? Haz click aquí</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-12">
                                  
                                     <ul class="select2" data-prototype="  {{form_row(form.arrayDiagnosticos.vars.prototype)|e}}">
                                    {# iterate over each existing tag and render its only field: name #}
                                    
                                     
                                </ul>
                                           
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Regresar</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-12">
                                    {{form_row(form.fechaSalida)}}
                                </div>
                            </div>
                        </div>
                        {{ form_row(form.submit)}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{form_end(form)}}
            </div>
        </section>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock %}
