{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
  {{ form_javascript(form) }}
 <script src="{{asset('js/jquery.collection.js')}}"></script>
 <script src="{{asset('js/mainAjax.js')}}"></script>
 <script>
    ajaxAO();
    ajaxProcedimiento();
    ajaxDiagnostico();
</script>
<script src="{{asset('js/bc-bootstrap-collection.js')}}"></script>
<script src="{{asset('js/jquery.initialize.js')}}"></script>
<script type="text/javascript">
(function(){
        $("select").initialize( function(){
     $(this).select2({
    theme: "bootstrap"
}); 

});
       
          
})();
</script>
<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>
<script>
$(function(){
    $('#paciente_form_arrayDiagnosticos').addClass('select2')});
</script>

{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Ingresar datos clínicos del paciente</h1>
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
                
                {{form_start(form)}}
               
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="step1">
                            {{ form_errors(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{form_row(form.fechaIngreso)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{form_row(form.paciente)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{form_row(form.motivoIngreso)}}
                                </div>
                                <div class="col-md-6">
                                    {{form_row(form.clasificacionAO)}}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                     Crear nueva clasificación AO
                                    </button>
                                </div>
                            </div>
                            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>
                            
                              <div class="row">
                                <div class="col-md-12">
                                    {{form_row(form.procedimientoRealizado)}}
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalProcedimiento">
                                     Crear nuevo procedimiento
                                    </button>
                                </div>
                            </div>

                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                            <li><a class="btn btn-success" href="{{path('paciente_new')}}">No aparece el paciente? Haz click aquí</a>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-12">
                                  
                                     {{form_row(form.arrayDiagnosticos)}}
                                     <br>
                                      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalDiagnostico">
                                     Crear nuevo diagnóstico
                                    </button>
                                           
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Regresar</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-12">
                                    {{form_row(form.fechaSalida)}}
                                </div>
                            </div>
                        </div>
                        {{ form_row(form.submit)}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{form_end(form)}}
            </div>
        </section>
    </div>
    <div class="col-md-1"></div>
</div>

{% include 'AppBundle:IngresoPaciente:modalAO.html.twig' %}
{% include 'AppBundle:IngresoPaciente:modalProcedimiento.html.twig' %}
{% include 'AppBundle:IngresoPaciente:modalDiagnostico.html.twig' %}

{% endblock %}
