{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Ingreso del Paciente: {{entity.paciente}}</h1>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Fecha De Ingreso</th>
                    <td>{{ entity.fechaIngreso|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Paciente</th>
                    <td><a href="{{ path('paciente_show', { 'slug': entity.paciente.slug }) }}">{{entity.paciente}}</a></td>
                </tr>
                <tr>
                    <th>Motivo de Ingreso</th>
                    <td>{{ entity.motivoIngreso }}</td>
                </tr>
                <tr>
                    <th>Procedimiento Realizado</th>
                    <td>{{ entity.procedimientoRealizado }}</td>
                </tr>
                {{entity.arrayDiagnosticos|length}}
                {{dump(entity.arrayDiagnosticos)}}
                {% for diagnostico in entity.arrayDiagnosticos %}
                        
                <tr>
                    <th>Diagnóstico </th>
                    <td>
                        <textarea readonly disabled autofocus wrap="soft" rows="4" cols="70">{{diagnostico}}
                        </textarea>

                    </td>
                </tr>
              
               
                {% endfor %}
               
               
                 
                <tr>
                    <th>Fecha de salida</th>
                    <td>{{ entity.fechaSalida|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Ingresado por</th>
                    <td>{{ entity.usuario }}</td>
                </tr>
                <tr>
                    <th>Creado</th>
                    <td>{{ entity.created|date('d-m-Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Actualizado</th>
                    <td>{{ entity.updated|date('d-m-Y H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        <ul class="record_actions">
            <li>
                <a class="btn btn-default" href="{{ path('ingresopaciente') }}">
                Regresar
                </a>
            </li>
            <li>
                <a class = "btn btn-warning" href="{{ path('ingresopaciente_edit', { 'slug': entity.slug }) }}">
                Editar
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
